body {
    background-color: white;
}

.linkActive {
    color: white !important;
    background-color: black !important;
    padding: 13px 10px !important;
    border-radius: 40px !important;
}

.menu-active {
    border-bottom: 2px solid rgb(5, 5, 5) !important;
}

.MuiGrid-container {
    flex-wrap: nowrap !important;
}

#photoTitle {
    font-size: 2em !important;
    padding: 20px 10px !important;
    font-weight: bold;
}

#photoDesc {
    font-size: 1.3em;
    padding: 10px !important;
}

#newAlbumName {
    font-size: 2em !important;
    padding: 20px 10px !important;
    font-weight: bold;
}

.Input-formItem-36 {
    width: 100% !important;
}

.PhotoDetail-reaction-32 {
    cursor: default;
}

#icon {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    padding: 0px;
}

#icon-active {
    width: 20px;
    height: 20px;
    margin-left: 3px;
    background-color: yellow;
    padding: 5px;
    border-radius: 40px;
}


/* Track */