.container-fluid{
	margin: 0;
	padding:0;
}
.card{
	position: relative;
	top: 15%;
	background-color: transparent;
	border: none
}
img{
	height: 400px;
	width: 450px;
}
.slide{
	border-radius: 4px;
	width: 450px;
	margin-bottom: 10px;
}
.card-title{
	color:red;
	text-transform: uppercase;
}
#price{
	text-decoration: line-through;
	color: grey;
}
#current-price{
	font-weight: bold;
}
.card-body{
	border-top: 1px solid black;
}
.btn-default{
	margin: 10px 0;
	padding: 10px 20px;
	color: white;
	background-color: #FF00F0;
}
